.LangSkillWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        color: #dc0000;
    }

    .styleSkillRange {
        // width: 80%;
        border: 1px solid #dc0000;
        height: 8px;
        border-radius: 6px;

        .RangePercent {
          
            border-radius: inherit;
            height: inherit;
           
        }
        
    }

    
}